<div class="main-container">
  <div class="goal-main-container" *ngIf="!showRule">
    <div class="title-container">
      <h1>Crear meta</h1>
      <p>Aquí podras configurar una meta de ahorro dependiendo tus objetivos.</p>
    </div>
    <form>
      <div class="row mb-4">
        <label class="col-sm-2 col-form-label">Tipo de meta</label>
        <div class="col-sm-10">
          <select class="form-select">
            <option selected disabled>Meta</option>
            <option>Comprar algo</option>
            <option>Viajar</option>
            <option>Hacer algo</option>
            <option>Solo ahorrar</option>
          </select>
        </div>
      </div>
      <div class="row mb-4">
        <label class="col-sm-2 col-form-label">Fecha</label>
        <div class="col-sm-10">
          <input type="date" class="form-control">
        </div>
      </div>
      <div class="row mb-5">
        <label class="col-sm-2 col-form-label">Monto</label>
        <div class="col-sm-10">
          <input type="text" class="form-control">
        </div>
      </div>
    </form>
  </div>
  <div class="rule-container" *ngIf="showRule">
    <app-create-rule></app-create-rule>
  </div>
  <div class="text-end">
    <button *ngIf="showRule" type="button" class="btn btn-secondary" (click)="showRule = !showRule">Regresar</button>
    <button type="button" class="btn bg-primary-color-app" (click)="showRule = !showRule">Siguiente</button>
  </div>
</div>